files:
    "/etc/cron.d/mycron":
        mode: "000644"
        owner: root
        group: root
        content: |
            10 1 * * * root /usr/local/bin/updateNightly.sh
    
    "/usr/local/bin/updateNightly.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash

            while read -r line; do eval "$line"; done < /opt/python/current/env

            python3 /opt/python/current/app/main.py --time 86400